.css-jzdd4y-MuiPaper-root {
  width: 100% !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  color: #fff !important;
  margin-top: 20px !important;
  box-shadow: none !important;
}

#language .css-4xtla9-MuiFormControl-root {
  width: 20% !important;
}

#language .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #fff !important;
}

#language
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px !important;
}

#language .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff !important;
}

#language .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 1px solid blue !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  margin-bottom: 10px !important;
  padding: 16px !important;
}
